<!DOCTYPE html>
<html lang="es">

<body>
    <header>
        <%- include('../views/partials/header1'); %>
    </header>
 
    <main>
        <div class="container-">
            <div class="row mt-3 ml-5 mr-5 ">
                <div class="col-md-9 text-center">
                    <h2>DATOS DEL DOCENTE</h2> 
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="border-primary">Nº</th>
                                <th class="border-primary">NOMBRE</th>
                                <th class="border-primary">APELLIDO</th>
                                <th class="border-primary">DNI</th>
                                <th class="border-primary">FECNAC</th>
                                <th class="border-primary">EMAIL</th>
                                <th class="border-primary">CELULAR</th>
                                <th class="border-primary">DIRECCION</th>
                                <th class="border-primary">ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data) { %>
                                <% for (var i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td class="border-primary">
                                            <%= (i + 1) %>
                                        </td>
                                        <td class="border-primary">
                                            <%= data[i].nombre %>
                                        </td>
                                        <td class="border-primary">
                                            <%= data[i].apellido %>
                                        </td>
                                        <td class="border-primary">
                                            <%= data[i].dni %>
                                        </td>
                                        <td class="border-primary">
                                            <%= data[i].f_nacimiento %>
                                        </td>
                                        <td class="border-primary">
                                            <%= data[i].email %>
                                        </td>
                                        <td class="border-primary">
                                            <%= data[i].celular %>
                                        </td>
                                        <td class="border-primary">
                                            <%= data[i].direccion %>
                                        </td>
                                        <td class="border-primary">
                                            <a href="/borrar/<%= data[i].idprofesor %>" class="btn btn-danger btn-sm rounded-pill">BORRAR</a>
                                            <a href="/actualizar/<%= data[i].idprofesor %>" class="btn btn-info btn-sm rounded-pill mt-1">ACTUALIZAR</a>
                                            
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 bd-2">
                    <h4>INGRESE DATOS DEL DOCENTE</h4>
                    <div class="card border-primary">
                        <div class="card-body">
                            <form action="/add" method="post">
                                <div class="form-group">
                                    <input type="text" name="nombre" placeholder="NOMBRE" class="form-control border-primary">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="apellido" placeholder="APELLIDO" class="form-control border-primary">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="dni" placeholder="DNI" class="form-control border-primary">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="f_nacimiento" placeholder="FECNAC" class="form-control border-primary">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="EMAIL" class="form-control border-primary">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="celular" placeholder="CELULAR" class="form-control border-primary">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="direccion" placeholder="DIRECCION" class="form-control border-primary">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">
                                    GUARDAR DOCENTE
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </main>
    
</body>
</html>