<!DOCTYPE html>
<html lang="es">
<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <div class="container-fluid ">
      <div class="row mt-3 ml-2 mr-2 ">
        <div class="col-md-5 table-responsive">
          <h4>Buscar por Apellido</h4>
          <form action="/buscar"  method="get" class="form-control form-control-lg ">
              <input type="text" name="nombre" placeholder="Apellido del profesor" required >
            <button type="submit" class="btn btn-success">Buscar</button> 
          </form>
        </div>
      </div>
    </div>
    <main>
        <div class="container-fluid">
            <div class="row mt-5 ml-2 mr-2 ">
                <div class="col-md-12 text-center table-responsive">
                    <h2>INFORMACIÓN DEL DOCENTE</h2> 
                    <table class="table table-bordered table-hover ">
                        <thead>
                            <tr>
                              <th class="border-primary">Nº</th>
                              <th class="border-primary">APELLIDOS NOMBRES</th>
                              <th class="border-primary">EMAIL</th>
                              <th class="border-primary">DNI</th>
                              <th class="border-primary">FECNAC</th>
                              <th class="border-primary">EDAD</th>
                              <th class="border-primary">CELULAR</th>
                              <th class="border-primary">DIRECCION</th>
                              <th class="border-primary">ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% profesores.forEach(profesores => { %>
                                <tr>
                                  <td class="border-primary"><%= profesores.id_profesor %></td>
                                  <td class="border-primary"><%= profesores.nombre %></td>
                                  <td class="border-primary"><%= profesores.email %></td>
                                  <td class="border-primary"><%= profesores.dni %></td>
                                  <td class="border-primary"><%= profesores.f_nacimiento %></td>
                                  <td class="border-primary"><%= profesores.edad %></td>
                                  <td class="border-primary"><%= profesores.celular %></td>
                                  <td class="border-primary"><%= profesores.direccion %></td>
                                  <td class="border-primary">
                                  
                                  <a href="/buscar/<%= profesor.id_profesor %>" class="btn btn-info">Actualizar</a>
                              </td>
                                </tr>
                              
                                <% }
                            ) %>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </main>
</body>
</html> 